Source: pass-update
Section: misc
Priority: optional
Maintainer: Alexandre Pujol <alexandre@pujol.io>
Build-Depends:
  debhelper-compat (= 12),
Homepage: https://github.com/roddhjav/pass-update
Vcs-Browser: https://github.com/roddhjav/pass-update
Vcs-Git: https://github.com/roddhjav/pass-update.git
Standards-Version: 4.6.0.1
Rules-Requires-Root: no

Package: pass-extension-update
Architecture: all
Depends:
  ${misc:Depends},
  pass (>= 1.7.0),
Description: A pass extension that provides an easy flow for updating passwords
  Extends the pass utility with an update command providing an easy flow for
  updating passwords. It supports path, directory and wildcard update.
  Moreover, you can select how to update your passwords by automatically
  generating new passwords or manually setting your own.
